<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Admissions</title>
</head>

<body>
    <div>
        <a th:href="@{/newAdmission}">New admission</a>
    </div>
    <!-- IF NO Admission -->
    <div th:if="${admissions.empty}">
        <div>No admission found</div>
    </div>
    <!-- ELSE -->
    <div th:unless="${admissions.empty}">
        <table id="admission_record">
            <caption>Admissions</caption>
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Admission Date</th>
                    <th scope="col">Status</th>
                    <th scope="col">Course</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="admission : ${admissions}">
                    <td th:text="${admission.id}"></td>
                    <td th:text="${admission.admissionDate}"></td>
                    <td th:text="${admission.status}"></td>
                    <td th:text="${admission.course}"></td>
                    <td><a th:href="@{'/'}">Student</a></td>
                    <!-- Fix the typo in the href -->
                    <td><a th:href="@{'/editAdmission/' + ${admission.id}}">Edit</a></td>
                    <td><a th:id="'delete_admission' + ${admission.id}"
                           th:href="@{'/deleteAdmission/' + ${admission.id}}">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>
